body {
    background-color: blue;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    }
    
    h1 {
    font-size: 36px;
    margin-top: 100px;
    color: #fff;
    text-shadow: 2px 2px #333;
    }
    
    form {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px #333;
    }
    
    label, input[type="submit"] {
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    }
    
    input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    }
    
    input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px #333;
    cursor: pointer;
    }